{% extends "header.html" %}
{% block content %}

{% if user.is_authenticated and user.role.id != 1 %}
{% include "user_menu.html" %}
{% else %}
{% include "admin-menu.html" %}
{% endif %}

<main class="chat-list-container">
    <h2 class="chat-list-title">Ваші чати</h2>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <div class="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
              {% endfor %}
          </div>
      </ul>
    {% endif %}


    <form method="get" action="" class="chat-search-form">
        <input type="text" name="q" value="{{ query }}" placeholder="Пошук за ім'ям або прізвищем" class="chat-search-input">
        <button type="submit" class="chat-search-button">Пошук</button>
    </form>

    <ul class="chat-list">
        {% for other_user in conversations %}
            <li class="chat-item">
                <a href="{% url 'chat_page' other_user.id %}" class="chat-link">
                    Переписка з {{ other_user.name }} {{ other_user.surname }}
                </a>
                <form method="post" action="{% url 'delete_chat_view' other_user.id %}" class="delete-chat-form">
                    {% csrf_token %}
                    <button type="submit" class="delete-chat-button">Видалити</button>
                </form>
            </li>
        {% empty %}
            <li class="chat-empty">У вас ще немає чатів.</li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
