{% extends "header.html" %}
{% load static %}
{% block content %}
<head>
    <title>Профіль користувача</title>
</head>
<body>
    <div class="project-form-container">
        <h1 class="project-form-title">Створити новий проєкт</h1>
        <form method="post">
            {% csrf_token %}

            <div class="project-form-group">
                <label class="project-label">Назва:</label>
                <input type="text" name="name" required class="project-input">
            </div>

            <div class="project-form-group">
                <label class="project-label">Опис:</label>
                <textarea name="description" required class="project-textarea"></textarea>
            </div>

            <div class="project-form-group">
                <label class="project-label">Skills (утримуйте Ctrl для вибору кількох):</label>
                <select name="skills" multiple size="5" class="project-select">
                    {% for skill in skills %}
                        <option value="{{ skill.id }}">{{ skill.skill }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="project-form-group">
                <label class="project-label">Срок виконання (опціонально):</label>
                <input type="number" name="execution" class="project-input">
            </div>

            <div class="project-form-group">
                <label class="project-label">Кінцева дата (опціонально):</label>
                <input type="date" name="end_at" class="project-input">
            </div>

            <div class="project-form-group">
                <label class="project-label">Ціна (опціонально):</label>
                <input type="number" step="0.01" name="price" class="project-input">
            </div>

            <button type="submit" class="project-submit-btn">Створити проєкт</button>
        </form>
    </div>
</body>
{% endblock %}