{% extends "header.html" %}
{% block content %}
<head>
    <title>Профіль користувача</title>
</head>
<body>
    <h1>Профіль</h1>
    <p><strong>Ім’я:</strong> {{ name }}</p>
    <p><strong>Прізвище:</strong> {{ surname }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Телефон:</strong> {{ phone }}</p>
    <p><strong>Фото:</strong> {{ profile_picture }}</p>
    <p><strong>Роль:</strong> {{ role }}</p>
    <div >
        <a href="{% url 'users:update_profile' %}">Оновити профіль</a>
        </div>
</body>
{% endblock %}