{% extends "header.html" %}
{% block content %}
{% load static %}

<head>
    <title>Профіль користувача</title>
</head>
<body>
{% if request.user.role.id == 1 %}
{% include "admin-menu.html" %}
{% else %}
 {% include "user_menu.html" %}
{% endif %}
<div class="profile-wrapper">
        {% if messages %}
        {% for message in messages %}
        <div class="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

    <div class="profile-container">
        <h2>Профіль</h2>

        <div class="profile-card">
            <div class="profile-main">
                <div class="user-picture">
                    {% if profile_picture and profile_picture != 'None' and profile_picture != 'null' %}
                        <img src="{{ profile_picture }}" alt="Фото профілю">
                    {% else %}
                        <img src="{% static 'photo/default_profile.png' %}" alt="Фото профілю" class="profile-picture">
                    {% endif %}
                </div>
                <div class="profile-info">
                    <p><strong>Ім’я:</strong> {{ name }}</p>
                    <p><strong>Прізвище:</strong> {{ surname }}</p>
                    <p><strong>Email:</strong> {{ email }}</p>
                    <p><strong>Телефон:</strong> {{ phone }}</p>
                    <p><strong>Роль:</strong> {{ role }}</p>
                    <p><strong>Рейтинг:</strong> {{ rating }}</p>

                    {% if request.user.role.id == 1 %}
                    <div class="update-link">
                        <a href="{% url 'adminp:update_user_profile_a' id %}">Оновити профіль</a>
                    </div>
                    <dt/>
                    <form method="post" action="{% url 'adminp:delete_user_a' id=id %}" class="update-link">
                    {% csrf_token %}
                        <button type="submit" onclick="return confirm('Чи Ви впевнені, що хочете видалити профіль?')">
                            Видалити профіль
                        </button>
                    </form>
                    {% else %}
                    <div class="update-link">
                        <a href="{% url 'users:update_profile' %}">Оновити профіль</a>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}